@charset "UTF-8";
/* CSS Document */
/*ICON WEBFONT */

/**/
@font-face {
  font-family: 'Decon_icons';
  src: url('https://cdn.jsdelivr.net/gh/dekoon/Font_icon/Decon-icons.ttf?ijzgpf') format("truetype"), url('https://cdn.jsdelivr.net/gh/dekoon/Font_icon/Decon-icons.woff?ijzgpf') format("woff");
}
[class^="Decon-"], [class*="Decon-"] {
  font-family: 'Decon_icons' !important;
}
.Decon-activity:before {
  content: "\e900";
}
.Decon-airplay:before {
  content: "\e901";
}
.Decon-alert-circle:before {
  content: "\e902";
}
.Decon-alert-octagon:before {
  content: "\e903";
}
.Decon-alert-triangle:before {
  content: "\e904";
}
.Decon-align-center:before {
  content: "\e905";
}
.Decon-align-justify:before {
  content: "\e906";
}
.Decon-align-left:before {
  content: "\e907";
}
.Decon-align-right:before {
  content: "\e908";
}
.Decon-anchor:before {
  content: "\e909";
}
.Decon-aperture:before {
  content: "\e90a";
}
.Decon-archive:before {
  content: "\e90b";
}
.Decon-arrow-down-circle:before {
  content: "\e90c";
}
.Decon-arrow-down-left:before {
  content: "\e90d";
}
.Decon-arrow-down-right:before {
  content: "\e90e";
}
.Decon-arrow-down:before {
  content: "\e90f";
}
.Decon-arrow-left-circle:before {
  content: "\e910";
}
.Decon-arrow-left:before {
  content: "\e911";
}
.Decon-arrow-right-circle:before {
  content: "\e912";
}
.Decon-arrow-right:before {
  content: "\e913";
}
.Decon-arrow-up-circle:before {
  content: "\e914";
}
.Decon-arrow-up-left:before {
  content: "\e915";
}
.Decon-arrow-up-right:before {
  content: "\e916";
}
.Decon-arrow-up:before {
  content: "\e917";
}
.Decon-at-sign:before {
  content: "\e918";
}
.Decon-award:before {
  content: "\e919";
}
.Decon-bar-chart-2:before {
  content: "\e91a";
}
.Decon-bar-chart:before {
  content: "\e91b";
}
.Decon-battery-charging:before {
  content: "\e91c";
}
.Decon-battery:before {
  content: "\e91d";
}
.Decon-bell-off:before {
  content: "\e91e";
}
.Decon-bell:before {
  content: "\e91f";
}
.Decon-bluetooth:before {
  content: "\e920";
}
.Decon-bold:before {
  content: "\e921";
}
.Decon-book-open:before {
  content: "\e922";
}
.Decon-book:before {
  content: "\e923";
}
.Decon-bookmark:before {
  content: "\e924";
}
.Decon-box:before {
  content: "\e925";
}
.Decon-briefcase:before {
  content: "\e926";
}
.Decon-calendar:before {
  content: "\e927";
}
.Decon-camera-off:before {
  content: "\e928";
}
.Decon-camera:before {
  content: "\e929";
}
.Decon-cast:before {
  content: "\e92a";
}
.Decon-check-circle:before {
  content: "\e92b";
}
.Decon-check-square:before {
  content: "\e92c";
}
.Decon-check:before {
  content: "\e92d";
}
.Decon-chevron-down:before {
  content: "\e92e";
}
.Decon-chevron-left:before {
  content: "\e92f";
}
.Decon-chevron-right:before {
  content: "\e930";
}
.Decon-chevron-up:before {
  content: "\e931";
}
.Decon-chevrons-down:before {
  content: "\e932";
}
.Decon-chevrons-left:before {
  content: "\e933";
}
.Decon-chevrons-right:before {
  content: "\e934";
}
.Decon-chevrons-up:before {
  content: "\e935";
}
.Decon-chrome:before {
  content: "\e936";
}
.Decon-circle:before {
  content: "\e937";
}
.Decon-clipboard:before {
  content: "\e938";
}
.Decon-clock:before {
  content: "\e939";
}
.Decon-cloud-drizzle:before {
  content: "\e93a";
}
.Decon-cloud-lightning:before {
  content: "\e93b";
}
.Decon-cloud-off:before {
  content: "\e93c";
}
.Decon-cloud-rain:before {
  content: "\e93d";
}
.Decon-cloud-snow:before {
  content: "\e93e";
}
.Decon-cloud:before {
  content: "\e93f";
}
.Decon-code:before {
  content: "\e940";
}
.Decon-codepen:before {
  content: "\e941";
}
.Decon-codesandbox:before {
  content: "\e942";
}
.Decon-coffee:before {
  content: "\e943";
}
.Decon-columns:before {
  content: "\e944";
}
.Decon-command:before {
  content: "\e945";
}
.Decon-compass:before {
  content: "\e946";
}
.Decon-copy:before {
  content: "\e947";
}
.Decon-corner-down-left:before {
  content: "\e948";
}
.Decon-corner-down-right:before {
  content: "\e949";
}
.Decon-corner-left-down:before {
  content: "\e94a";
}
.Decon-corner-left-up:before {
  content: "\e94b";
}
.Decon-corner-right-down:before {
  content: "\e94c";
}
.Decon-corner-right-up:before {
  content: "\e94d";
}
.Decon-corner-up-left:before {
  content: "\e94e";
}
.Decon-corner-up-right:before {
  content: "\e94f";
}
.Decon-cpu:before {
  content: "\e950";
}
.Decon-credit-card:before {
  content: "\e951";
}
.Decon-crop:before {
  content: "\e952";
}
.Decon-crosshair:before {
  content: "\e953";
}
.Decon-database:before {
  content: "\e954";
}
.Decon-delete:before {
  content: "\e955";
}
.Decon-disc:before {
  content: "\e956";
}
.Decon-dollar-sign:before {
  content: "\e957";
}
.Decon-download-cloud:before {
  content: "\e92e";
}
.Decon-download:before {
  content: "\e92f";
}
.Decon-droplet:before {
  content: "\e95a";
}
.Decon-edit-2:before {
  content: "\e95b";
}
.Decon-edit-3:before {
  content: "\e95c";
}
.Decon-edit:before {
  content: "\e95d";
}
.Decon-external-link:before {
  content: "\e95e";
}
.Decon-eye-off:before {
  content: "\e95f";
}
.Decon-eye:before {
  content: "\e960";
}
.Decon-facebook:before {
  content: "\e961";
}
.Decon-fast-forward:before {
  content: "\e962";
}
.Decon-feather:before {
  content: "\e963";
}
.Decon-figma:before {
  content: "\e964";
}
.Decon-file-minus:before {
  content: "\e965";
}
.Decon-file-plus:before {
  content: "\e966";
}
.Decon-file-text:before {
  content: "\e967";
}
.Decon-file:before {
  content: "\e968";
}
.Decon-film:before {
  content: "\e969";
}
.Decon-filter:before {
  content: "\e96a";
}
.Decon-flag:before {
  content: "\e96b";
}
.Decon-folder-minus:before {
  content: "\e96c";
}
.Decon-folder-plus:before {
  content: "\e96d";
}
.Decon-folder:before {
  content: "\e96e";
}
.Decon-framer:before {
  content: "\e96f";
}
.Decon-frown:before {
  content: "\e970";
}
.Decon-gift:before {
  content: "\e971";
}
.Decon-git-branch:before {
  content: "\e972";
}
.Decon-git-commit:before {
  content: "\e973";
}
.Decon-git-merge:before {
  content: "\e974";
}
.Decon-git-pull-request:before {
  content: "\e975";
}
.Decon-github:before {
  content: "\e976";
}
.Decon-gitlab:before {
  content: "\e977";
}
.Decon-globe:before {
  content: "\e978";
}
.Decon-grid:before {
  content: "\e979";
}
.Decon-hard-drive:before {
  content: "\e97a";
}
.Decon-hash:before {
  content: "\e97b";
}
.Decon-headphones:before {
  content: "\e97c";
}
.Decon-heart:before {
  content: "\e97d";
}
.Decon-help-circle:before {
  content: "\e97e";
}
.Decon-hexagon:before {
  content: "\e97f";
}
.Decon-home:before {
  content: "\e980";
}
.Decon-image:before {
  content: "\e981";
}
.Decon-inbox:before {
  content: "\e982";
}
.Decon-info:before {
  content: "\e983";
}
.Decon-instagram:before {
  content: "\e984";
}
.Decon-italic:before {
  content: "\e985";
}
.Decon-key:before {
  content: "\e986";
}
.Decon-layers:before {
  content: "\e987";
}
.Decon-layout:before {
  content: "\e988";
}
.Decon-life-buoy:before {
  content: "\e989";
}
.Decon-link-2:before {
  content: "\e98a";
}
.Decon-link:before {
  content: "\e98b";
}
.Decon-linkedin:before {
  content: "\e98c";
}
.Decon-list:before {
  content: "\e98d";
}
.Decon-loader:before {
  content: "\e98e";
}
.Decon-lock:before {
  content: "\e98f";
}
.Decon-log-in:before {
  content: "\e990";
}
.Decon-log-out:before {
  content: "\e991";
}
.Decon-mail:before {
  content: "\e992";
}
.Decon-map-pin:before {
  content: "\e993";
}
.Decon-map:before {
  content: "\e994";
}
.Decon-maximize-2:before {
  content: "\e995";
}
.Decon-maximize:before {
  content: "\e996";
}
.Decon-meh:before {
  content: "\e997";
}
.Decon-menu:before {
  content: "\e998";
}
.Decon-message-circle:before {
  content: "\e999";
}
.Decon-message-square:before {
  content: "\e99a";
}
.Decon-mic-off:before {
  content: "\e99b";
}
.Decon-mic:before {
  content: "\e99c";
}
.Decon-minimize-2:before {
  content: "\e99d";
}
.Decon-minimize:before {
  content: "\e99e";
}
.Decon-minus-circle:before {
  content: "\e99f";
}
.Decon-minus-square:before {
  content: "\e9a0";
}
.Decon-minus:before {
  content: "\e9a1";
}
.Decon-monitor:before {
  content: "\e9a2";
}
.Decon-moon:before {
  content: "\e9a3";
}
.Decon-more-horizontal:before {
  content: "\e9a4";
}
.Decon-more-vertical:before {
  content: "\e9a5";
}
.Decon-mouse-pointer:before {
  content: "\e9a6";
}
.Decon-move:before {
  content: "\e9a7";
}
.Decon-music:before {
  content: "\e9a8";
}
.Decon-navigation-2:before {
  content: "\e9a9";
}
.Decon-navigation:before {
  content: "\e9aa";
}
.Decon-octagon:before {
  content: "\e9ab";
}
.Decon-package:before {
  content: "\e9ac";
}
.Decon-paperclip:before {
  content: "\e9ad";
}
.Decon-pause-circle:before {
  content: "\e9ae";
}
.Decon-pause:before {
  content: "\e9af";
}
.Decon-pen-tool:before {
  content: "\e9b0";
}
.Decon-percent:before {
  content: "\e9b1";
}
.Decon-phone-call:before {
  content: "\e9b2";
}
.Decon-phone-forwarded:before {
  content: "\e9b3";
}
.Decon-phone-incoming:before {
  content: "\e9b4";
}
.Decon-phone-missed:before {
  content: "\e9b5";
}
.Decon-phone-off:before {
  content: "\e9b6";
}
.Decon-phone-outgoing:before {
  content: "\e9b7";
}
.Decon-phone:before {
  content: "\e9b8";
}
.Decon-pie-chart:before {
  content: "\e9b9";
}
.Decon-play-circle:before {
  content: "\e9ba";
}
.Decon-play:before {
  content: "\e9bb";
}
.Decon-plus-circle:before {
  content: "\e9bc";
}
.Decon-plus-square:before {
  content: "\e9bd";
}
.Decon-plus:before {
  content: "\e9be";
}
.Decon-pocket:before {
  content: "\e9bf";
}
.Decon-power:before {
  content: "\e9a1";
}
.Decon-printer:before {
  content: "\e9c1";
}
.Decon-radio:before {
  content: "\e9c2";
}
.Decon-refresh-ccw:before {
  content: "\e9c3";
}
.Decon-refresh-cw:before {
  content: "\e9c4";
}
.Decon-repeat:before {
  content: "\e9c5";
}
.Decon-rewind:before {
  content: "\e9c6";
}
.Decon-rotate-ccw:before {
  content: "\e9c7";
}
.Decon-rotate-cw:before {
  content: "\e9c8";
}
.Decon-rss:before {
  content: "\e9c9";
}
.Decon-save:before {
  content: "\e9ca";
}
.Decon-scissors:before {
  content: "\e9cb";
}
.Decon-search:before {
  content: "\e9cc";
}
.Decon-send:before {
  content: "\e9cd";
}
.Decon-server:before {
  content: "\e9ce";
}
.Decon-settings:before {
  content: "\e9cf";
}
.Decon-share-2:before {
  content: "\e9d0";
}
.Decon-share:before {
  content: "\e9d1";
}
.Decon-shield-off:before {
  content: "\e9d2";
}
.Decon-shield:before {
  content: "\e9d3";
}
.Decon-shopping-bag:before {
  content: "\e9d4";
}
.Decon-shopping-cart:before {
  content: "\e9d5";
}
.Decon-shuffle:before {
  content: "\e9d6";
}
.Decon-sidebar:before {
  content: "\e9d7";
}
.Decon-skip-back:before {
  content: "\e9d8";
}
.Decon-skip-forward:before {
  content: "\e9d9";
}
.Decon-slack:before {
  content: "\e9da";
}
.Decon-slash:before {
  content: "\e9db";
}
.Decon-sliders:before {
  content: "\e9dc";
}
.Decon-smartphone:before {
  content: "\e9dd";
}
.Decon-smile:before {
  content: "\e9de";
}
.Decon-speaker:before {
  content: "\e9df";
}
.Decon-square:before {
  content: "\e9e0";
}
.Decon-star:before {
  content: "\e9e1";
}
.Decon-stop-circle:before {
  content: "\e9e2";
}
.Decon-sun:before {
  content: "\e9e3";
}
.Decon-sunrise:before {
  content: "\e9e4";
}
.Decon-sunset:before {
  content: "\e9e5";
}
.Decon-tablet:before {
  content: "\e9e6";
}
.Decon-tag:before {
  content: "\e9e7";
}
.Decon-target:before {
  content: "\e9e8";
}
.Decon-terminal:before {
  content: "\e9e9";
}
.Decon-thermometer:before {
  content: "\e9ea";
}
.Decon-thumbs-down:before {
  content: "\e9eb";
}
.Decon-thumbs-up:before {
  content: "\e9ec";
}
.Decon-toggle-left:before {
  content: "\e9ed";
}
.Decon-toggle-right:before {
  content: "\e9ee";
}
.Decon-trash-2:before {
  content: "\e9ef";
}
.Decon-trash:before {
  content: "\e9f0";
}
.Decon-trello:before {
  content: "\e9f1";
}
.Decon-trending-down:before {
  content: "\e9f2";
}
.Decon-trending-up:before {
  content: "\e9f3";
}
.Decon-triangle:before {
  content: "\e9f4";
}
.Decon-truck:before {
  content: "\e9f5";
}
.Decon-tv:before {
  content: "\e9f6";
}
.Decon-twitter:before {
  content: "\e9f7";
}
.Decon-type:before {
  content: "\e9f8";
}
.Decon-umbrella:before {
  content: "\e9f9";
}
.Decon-underline:before {
  content: "\e9fa";
}
.Decon-unlock:before {
  content: "\e9fb";
}
.Decon-upload-cloud:before {
  content: "\e9fc";
}
.Decon-upload:before {
  content: "\e9fd";
}
.Decon-user-check:before {
  content: "\e9fe";
}
.Decon-user-minus:before {
  content: "\e9ff";
}
.Decon-user-plus:before {
  content: "\ea00";
}
.Decon-user-x:before {
  content: "\ea01";
}
.Decon-user:before {
  content: "\ea02";
}
.Decon-users:before {
  content: "\ea03";
}
.Decon-video-off:before {
  content: "\ea04";
}
.Decon-video:before {
  content: "\ea05";
}
.Decon-voicemail:before {
  content: "\ea06";
}
.Decon-volume-1:before {
  content: "\ea07";
}
.Decon-volume-2:before {
  content: "\ea08";
}
.Decon-volume-x:before {
  content: "\ea09";
}
.Decon-volume:before {
  content: "\ea0a";
}
.Decon-watch:before {
  content: "\ea0b";
}
.Decon-wifi-off:before {
  content: "\ea0c";
}
.Decon-wifi:before {
  content: "\ea0d";
}
.Decon-wind:before {
  content: "\ea0e";
}
.Decon-x-circle:before {
  content: "\ea0f";
}
.Decon-x-octagon:before {
  content: "\ea10";
}
.Decon-x-square:before {
  content: "\ea11";
}
.Decon-x:before {
  content: "\ea12";
}
.Decon-youtube:before {
  content: "\ea13";
}
.Decon-zap-off:before {
  content: "\ea14";
}
.Decon-zap:before {
  content: "\ea15";
}
.Decon-zoom-in:before {
  content: "\ea16";
}
.Decon-zoom-out:before {
  content: "\ea17";
}
div.Decon-box:before {
  display: none !important;
}
